SECRET_KEY=replace-with-a-new-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

LIARA_ACCESS_KEY=
LIARA_SECRET_KEY=
LIARA_ENDPOINT_URL=https://storage.c2.liara.site
LIARA_BUCKET_NAME=

POSTGRESQL_DB_NAME=
POSTGRESQL_DB_USER=
POSTGRESQL_DB_PASS=
POSTGRESQL_DB_HOST=
POSTGRESQL_DB_PORT=

LIARA_MEDIA_DOMAIN=