{% extends 'base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"> درباره ما </h1>
                <p class="lead fw-normal text-white-50 mb-0"> &#127765; داستان ما را بشنوید </p>
            </div>
        </div>
    </header>
    <br><br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-10">
                    <p>
                         به زودی درباره ما نوشته میشه
                    </p>
                </div>
            </center>
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}