{% extends 'base.html' %}

{% block content %}
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-10">
                    <h3> سفارشات جاری </h3><br>
                    {% if other %}
                    <table class="table">
                    <thead class="table-warning">
                        <tr>
                        <th scope="col"> شماره سفارش </th>
                        <th scope="col"> به نام </th>
                        <th scope="col"> تاریخ ثبت سفارش </th>
                        <th scope="col"> وضعیت </th>
                        </tr>
                    </thead>
                    {% for order in other %}
                    <tbody>
                        <tr>
                        <th scope="row"><a href="{% url 'order_details' order.id %}">{{order.id}}</a></th>
                        <td>{{order.full_name}}</td>
                        <td>{{order.date_ordered | date:"Y-m-d H:i:s" }}</td>
                        <td>{{order.get_status_display}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    </table>
                    {% else %}
                    سفارشی در جریان نیست<br>
                    {% endif %}<br>


                    <h3> سفارشات تحویل داده شده </h3><br>
                    {% if delivered %}
                    <table class="table">
                    <thead class="table-success">
                        <tr>
                        <th scope="col"> شماره سفارش </th>
                        <th scope="col"> به نام </th>
                        <th scope="col"> تاریخ تحویل </th>
                        <th scope="col"> وضعیت </th>
                        </tr>
                    </thead>
                    {% for order in delivered %}
                    <tbody>
                        <tr>
                        <th scope="row"><a href="{% url 'order_details' order.id %}">{{order.id}}</a></th>
                        <td>{{order.full_name}}</td>
                        <td>{{order.last_update | date:"Y-m-d H:i:s" }}</td>
                        <td>{{order.get_status_display}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    </table>
                    {% else %}
                    سفارشی تحویل داده نشده<br>
                    {% endif %}<br>
                </div>
            </center>
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}